.App {
  text-align: center;
  border: none;
  display: flex table-column;
  padding: auto;
  align-items: center;
}

.add-button{
  background-color: rgb(53, 97, 167);
  padding: 5px;
  border-radius: 3px;
  border: none;
  margin: 10px 20px;
  min-width: 70px;
}

.delete-button{
  background-color: rgba(195, 22, 22, 0.697);
  padding: 5px;
  border-radius: 3px;
  border: none;
  margin: 10px 20px;
  color: white;
}

.text-area{
  border:grey ridge 1px;
  border-radius: 10px;
  box-shadow: inset;
  min-width: 350px;
  min-height: 30px;
}

.todos {
  box-shadow: inset grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -300px;
}

.todo-list{
 border: grey groove 1px;
 margin: 10px 10px;
 border-radius: 7px;
}

.todo-text{
  padding: 10px;
}




